// Converted to SCSS

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-family: "Open Sans";
}

body {
  width: 60%;
  margin: auto;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.data,
.methods,
.summary {
  width: 30%;
  min-width: 20rem;
  margin: 5px;
  padding: 5px;
}

.deliveries {
  margin-bottom: 10px;
}

.title {
  background-color: #a89f8f;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.data button {
  border-color: red;
  color: red;
  font-weight: bold;
  width: 100%;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.data p {
  text-align: center;
}

form {
  width: 100%;
}

.input,
#country {
  padding: 12px 20px;
  margin: 8px 0;
  width: 100%;
  box-sizing: border-box;
}

input[type='checkbox'] {
  width: 1.65em;
  height: 1.65em;
  margin: 0;
}

input[type='radio'] {
  width: 1.65em;
  height: 1.65em;
}

.radio-item {
  display: flex;
  align-items: center;
}

.payments button {
  border-color: gray;
  color: gray;
  font-weight: bold;
  width: 100%;
  background-color: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.summary textarea {
  width: 100%;
  padding: 10px;
}

.hr-top,
.hr-bot {
  border-top: 1px dashed gray;
}

.hr-bot {
  margin-bottom: 10px;
}

.total,
.partial {
  display: flex;
  padding: 0 10px;
}

.partial p {
  width: 50%;
}

.total p {
  width: 50%;
  font-weight: bold;
}

.checkboxContainer {
  margin-top: 10px;

  label {
    font-size: 0.85rem;
  }
}

.opis {
  h4 {
    font-weight: 800;
    font-size: 0.8rem;
    color: #202020;
  }
}

.opis {
  margin-right: 10%;
}

.licznik {
  width: 100%;
  text-align: left;
}

.product {
  text-align: left;
  margin: 0;
}
.delivery-logo,
.payment-logo {
  aspect-ratio: 540/371;
  max-width: 100px;
  max-height: 50px;
  margin: 5px 10px;
}

.form-container form {
  width: 15rem;
}

#confirm {
  width: 100%;
  background-color: #e64344;
  color: white;
  font-weight: bold;
  margin-top: 10px;
  padding: 25px 15px;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
}

#confirm:hover {
  background-color: #b93434;
}

#apply-discount:disabled{
  background-color: lightgreen;
}

#tekst-podziekowania{
  border: solid 2px black;
  padding: 10px;
  border-radius: 5px;
}

.item {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.image-box {
  width: 25%;
  margin-right: 5px;
}

.image-box img {
  aspect-ratio: 2/1;
  max-width: 100%;
}

form {
  display: flex;
  flex-wrap: wrap;
}

#comment {
  resize: none;
  width: 90%;
}

@media (max-width: 767px) {
  .data,
  .methods,
  .summary {
    width: 100%;
    min-width: unset;
    margin: 5px;
    padding: 5px;
  }

  body {
    width: 90%;
    margin: auto;
  }
}
