* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 80%;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.dane,
.metody,
.podsumowanie {
  width: 30%;
  min-width: 20rem;
  margin: 5px;
  padding: 5px;
}

.dostawy {
  margin-bottom: 10px;
}

.title {
  background-color: #a89f8f;
  color: white;
  padding: 15px;
  border-radius: 5px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.dane button {
  border-color: red;
  color: red;
  font-weight: bold;
  width: 100%;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.dane p {
  text-align: center;
}

.input,
#kraj {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
}

input[type='checkbox'] {
  /* ...existing styles */
  width: 1.65em;
  height: 1.65em;
  margin: 0;
}

input[type='radio'] {
  width: 1.65em;
  height: 1.65em;
}

.platnosci button {
  border-color: gray;
  color: gray;
  font-weight: bold;
  width: 100%;
  background-color: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

.podsumowanie textarea {
  width: 100%;
  padding: 10px;
}

.hr-top,
.hr-bot {
  border-top: 1px dashed gray;
}

.hr-bot {
  margin-bottom: 10px;
}

.lacznie,
.czesciowa {
  display: flex;
  padding: 10px;
}

.czesciowa p {
  width: 50%;
}

.lacznie p {
  width: 50%;
  font-weight: bold;
}

.checkboxContainer {
  margin-top: 10px;
}

.checkboxContainer label {
  font-size: 0.85rem;
}

.item {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.image-box{
    width: 25%;
    margin-right: 5px;
}

.image-box img{
    aspect-ratio: 2/1;
    max-width: 100%;
}

.opis h4 {
  font-weight: 800;
    font-size: 0.8rem;
  color: #202020;
}

.licznik {
    width: 20%;
    text-align: center;
}
